
.about
{
    margin-top: 50px;
}


.about-center
{
    background-color: inherit;
    border: 5px solid rgba(255, 255, 255, 0.6);
    height: 700px;
    width: 750px;
    margin: 0px auto;
    animation-name: square-animation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes square-animation
  {
    0% {opacity: 0;} 
    100% {opacity: 1;}
  }


.photo
{
    float: left;
    border: 2px solid rgba(255, 0, 0, 0.6);
    height: 200px;
    width: 200px;
    margin: 10px 10px;
}

.photo-titles
{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.righttext
{  
    color: rgba(255, 0, 0, 0.6);
    font-size: 20px;
    text-decoration: underline solid;
}


.about-p
{
    color: white;
    text-align: justify;
    margin: 10px 10px;
}
