.containerSquare
{
  padding-top: 25px;
  padding-bottom: 50px;
  margin-top: 25px;
  border: 5px solid rgba(255, 255, 255, 0.6);
  animation-name: squareAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.fontSquares
{
  color: rgba(255, 255, 255, 0.80);
}

.messageBox
{
  height: 325px;
}

.submitBtn
{
    width: 125px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: black 2px solid;
    color: black;
}

.submitBtn:hover
{
    background-color: rgb(0, 30, 60);
    color: white;
    border-color: rgba(255, 0, 0, 0.75);
}


  input
  {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding-left: 5px;
    
  }

  textarea
  {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    resize: none;
  }




  

  .popup-open
{
  opacity: 0.1;
  margin-top: 50px;
}

.btn-close
{
  font-size: 16px;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 125px;
  margin-top: -15px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px solid rgb(200, 200, 200);
  color: white;
}

.btn-close:hover
{
  cursor: pointer;
}