ul
{
  list-style: none;
}


.bar
{
  height: 150px;
  width: 100%;

}

.box
{
  position: absolute;
  height: 100px;
  width: 75%;
  margin-top: 25px;
  margin-left: 12.5%;
  animation-name: box-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes box-animation
{
  0%{ transform: translateY(-250px); }
  100%{ transform: translateY(auto); }
}

.logo
{
  position: absolute;
  width: 100px;
  height: 100px;
}

.jon
{
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 20px;
  width: 175px;
  margin-left: 100px;
  margin-top: 22.5px;
}

.webdev
{
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 20px;
  width: 175px;
  margin-left: 100px;
  margin-top: 50px;
}


.about
{
  position: absolute;
  width: 80px;
  height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 950px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.projects
{
  display: block;
  position: absolute;
  width: 80px;
  height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 1075px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}

.contact
{
  display: block;
  position: absolute;
  width: 80px;
  height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 1200px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



