.projectsContainer
{
    animation-name: projectsAnimation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: all 1s;
}

@keyframes projectsAnimation
{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.projectImgs
{
  width: 550px;
	border: 2px solid white;
	transition: all 800ms;
}

.projectImgs:hover
{
    border: 2px solid red;
    width: 500px;
}

.projectImgs
{
  width: 550px;
	border: 2px solid white;
	transition: all 800ms;
}

.projectImgs:hover
{
    border: 2px solid red;
    width: 500px;
}

.reactContainer
{
  animation-name: reactAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes reactAnimation
{
  0%{ transform: translateX(-1000px); }
  100%{ transform: translateX(auto); }
}

.arrowBack
{
  width: 80px;
  transition: all 1s;
}

.arrowBack:hover
{
  transform: rotate(90deg)
}

.reactProjects
{
  width: 600px;
  transition: all 500ms;
}

.reactProjects:hover
{
  border: 4px solid red;
}

@media (max-width: 1199px)
{
  .projectImgs
  {
    width: 375px;
    border: 2px solid white;
    transition: all 800ms;
  }
  
  .projectImgs:hover
  {
      border: 2px solid red;
      width: 350px;
  }
}

@media (max-width: 450px)
{
	.reactProjects
	{
		width: 325px;
	}

	.arrowBack
	{
    transform: rotate(90deg);
    width: 50px;
	}
}













.gifs-react
{
    border: 2px solid white;
    width: 30%;
    float: left;
    margin: 150px 9.5%;

}

.gifs-react:hover
{
  border: 2px solid red;
}

.gif-htmlcss
{
  border: 2px solid white;
  width: 40%;
  float: left;
  margin: 150px 30%;
  animation-name: projects-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

}




