.gifs
{
  border: 2px solid red;
    width: 30%;
    float: left;
    margin: 200px 1.66%;
    background-color: white;
    animation-name: projects-animation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes projects-animation
{
  0% {opacity: 0;} 
  100% {opacity: 1;}
}