.welcome
{
    width: 50%;
    height: 500px;
    margin: 225px auto;
}

.textbox
{
    margin: auto auto 75px auto;
    width: 75%;
    height: 275px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    animation-name: textbox-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}



@keyframes textbox-animation
{
    0%{ transform: translateY(-500px); }
    100%{ transform: translateY(auto); }
}



.logowelcome
{
    margin: 0;
    width: 100px;
    height: 100px;
    animation-name: logowelcomeanimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition-delay: 2s;
}

@keyframes logowelcomeanimation
{
  0% {opacity: 0;} 
  100% {opacity: 1;}
}

.intro
{
    text-align: center;
    margin: 0;
}

.jonmon
{
    color: red
}

.link-welcome
{
    text-decoration: none;
}

.welcome-btn
{   
    color: red;
    display: block;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px auto;
    width: 225px;
    height: 100px;
    font-size: 24px;
    animation-name: btn-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.welcome-btn:hover
{
    color: rgb(0, 30, 60);
    background-color: white;
    cursor: pointer;
}

@keyframes btn-animation
{
    0%{ transform: translateX(-1000px); }
    100%{ transform: translateX(auto); }
}