*
{
  background-color: #2593D1;
  margin: 0px;
}

ul
{
  list-style: none;
}


.bar
{
  height: 150px;
  width: 100%;
}

.box
{
  position: absolute;
  height: 100px;
  width: 75%;
  margin-top: 25px;
  margin-left: 15%;
}

.logo
{
  position: absolute;
  width: 100px;
  height: 100px;
}

.jon
{
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 20px;
  width: 175px;
  margin-left: 100px;
  margin-top: 22.5px;
}

.webdev
{
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 20px;
  width: 175px;
  margin-left: 100px;
  margin-top: 50px;
}


.about
{
  position: absolute;
  width: 80px;
  height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 800px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.projects
{
  display: block;
  position: absolute;
  width: 80px;
  height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 950px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}

.contact
{
  display: block;
  position: absolute;
  width: 80px;
  height: 25px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 1100px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



